@import '../../styles/common';

ul#app-user-firends {

    flex-grow: 1;
}

aside#app-add-user {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;

    position: sticky;
    bottom: 0;

    padding: 10px;
    width: 100%;
    gap: 10px;
}