@import '../../styles/common';

section.app-bar-top {

    @include boxShadow();
    @include transition();

    background-color: $c-primary;
    padding: 10px;
    gap: 10px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    button {

        color: $c-font;
        display: block;
    }
}