@import '../../../styles/common';

.user-qr-reader {

    @include boxShadow();

    margin: auto 10px;
    background-color: $c-third;

    overflow: hidden;
    border-radius: 10px;
    border: 4px solid $c-third;
}

.btn-user-qr-reader {

    margin: 10px;
    border-radius: 10px;
}