body {

    color: #343434;
    background-color: #fff;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 100;
}

#root {

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
    overflow-y: hidden;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}